body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.navbar {
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.navbar-brand {
    padding:0;
}
.navbar a {
    color: #fff !important;
}

.navbar a:hover {
    background-color: #265a88 !important;
    background-position: 0 -15px;
}


.zf-green {
    color: #96ca2d;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

a.navbar-brand img {
    width: 55px;
    height: auto;
    padding: 6px;
    margin: 5px;
}

a.navbar-brand {
    font-weight: 100;
    font-size: 30px;
    font-family: 'Snippet', sans-serif;
    color: #fff !important;
}

div.box-pet{
    background: #fff;
    position: relative;
    padding: 30px 15px 15px;
    line-height: 25px;
}

div.box-pet img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
}

.widget-header {
    min-height: 50px;
    position: relative;
    overflow: hidden;
    display: block;
}

.widget-header.perdido {
    background: #ff776b;
}

.widget-header.encontrado {
    background: #97ec7d;
}


body.home {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

#map {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px; /* adjust top margin to your header height */
}

.gm-style-iw {
    left: 23px !important;
    width: 200px !important;
    top: 17px !important;
}

.gm-style-iw > div {
    border-radius: 5px;
}

.gm-style-iw > div > div{
    width: 200px;
}